body {
    margin: 0;
}

nav {
    background-color: teal;
    padding: 20px 50px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.btn_container {
    // right: 0;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    
    > button {
        padding: 10px;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid black;
        color: teal;
        font-family: 'Righteous', sans-serif;
        transition: color 0.2s ease-out, background-color 0.2s ease-out;
        
        &:hover {
            background-color: teal;
            color: rgb(250, 252, 170);
            transition: color 0.2s ease-in, background-color 0.2s ease-in;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

.ctrl_container {
}

.canvas_container {
    //border: 1px solid #a8a8a8;
    width: 50%;
}